@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/Arial-BoldMT.eot");
  src: url("../fonts/Arial-BoldMT.eot") format("embedded-opentype"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*.container {
  max-width: 1920px;
  max-height: 1545px;

  /*margin: 0 auto;*

}*/
body {
  font-family: Roboto Light;
  box-sizing: border-box;
  overflow: hidden;
  /*overflow-x: hidden;*/
}
@media screen and (max-width: 992px) {
  body {
    /*overflow: auto;*/
    overflow-x: hidden;
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("../images/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; /*убрал скрол*/
  gap: 5px;
  /*border: 6px solid #40fb32;*/
}
@media screen and (max-width: 992px) {
  .main {
    height: 724px;
    width: 992px;
  }
}
@media screen and (max-width: 540px) {
  .main {
    width: 540px;
    height: 1545px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-size: cover;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.main .section-one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end; /*поднял низ*/
  height: 100%;
  width: 63%;
  /*border: 6px solid #4d0ee1;*/
  padding: 105px 50px 64px 142px;
  gap: 62px;
  overflow: auto;
}
@media screen and (max-width: 992px) {
  .main .section-one {
    padding: 1px 5px 1px 32px;
    width: 63%;
    gap: 5px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one {
    align-items: center;
    width: 90%;
    gap: 5px;
    /*margin-right: 52px;*/
  }
}
.main .section-one__logo {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  margin-bottom: 64px;
  /*border: 6px solid #e6e61a; */
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .main .section-one__logo {
    background-image: url("../images/Logo.svg");
    width: 540px;
    height: 60px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__logo {
    margin-left: 32px;
    margin-bottom: 48px;
  }
}
.main .section-one__logo_vid {
  background-image: url("../images/Logo.svg");
  width: 1080px;
  height: 121px;
}
@media screen and (max-width: 992px) {
  .main .section-one__logo_vid {
    background-image: url("../images/Logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    width: 100%;
    height: 60px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__logo_vid {
    width: 100%;
    height: 52px;
    margin-left: 20px;
  }
}
.main .section-one__about {
  /*border: 6px solid #f4d10f;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .main .section-one__about {
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__about {
    align-items: center;
    margin-right: 20px;
  }
}
.main .section-one__about-title {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  /*border: 4px solid #d92929;*/
  color: #ffffff;
  margin-bottom: 2px;
}
@media screen and (max-width: 992px) {
  .main .section-one__about-title {
    margin-bottom: 1px;
    font-size: 24px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__about-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 2px;
  }
}
.main .section-one__about-text {
  position: relative;
  /*border: 4px solid #e9139e;*/
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 4px;
  color: #FFFFFF;
  font-family: Roboto;
  text-indent: 20px;
}
@media screen and (max-width: 992px) {
  .main .section-one__about-text {
    margin-bottom: 1px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.1em;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__about-text {
    font-size: 14px;
    text-align: justify;
    margin: 0 32px 32px 20px;
  }
}
.main .section-one__products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  /*border: 6px solid #19b097;*/
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 12px;
  color: #FFFFFF;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .main .section-one__products {
    padding: 0 32px 0 32px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products {
    padding: 1px 64px 1px 64px;
    align-items: center;
  }
}
.main .section-one__products-title {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-bottom: 16px;
  /*border: 3px solid #15d215;*/
}
@media screen and (max-width: 992px) {
  .main .section-one__products-title {
    margin-bottom: 1px;
    font-size: 24px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products-title {
    margin-bottom: 12px;
    font-size: 24px;
    align-items: center;
    text-align: center;
  }
}
.main .section-one__products-navigation {
  display: flex;
  text-decoration: none;
  gap: 35px;
  /*border: 3px solid #225f1e;*/
  margin-bottom: 24px;
}
@media screen and (max-width: 992px) {
  .main .section-one__products-navigation {
    width: 500px;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products-navigation {
    width: 400px;
    gap: 12px;
    justify-content: center;
  }
}
.main .section-one__products-navigation .menu {
  display: flex;
  justify-content: center;
  /*border: 3px solid #225f1e;*/
  font-family: ROBOTO;
  align-content: center;
}
.main .section-one__products-navigation .menu__btn {
  color: #ffffff;
  border: 2px solid #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: transparent;
  padding: 13px 14px 13px 14px;
}
@media screen and (max-width: 992px) {
  .main .section-one__products-navigation .menu__btn {
    margin-bottom: 1px;
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products-navigation .menu__btn {
    font-size: 16px;
  }
}
.main .section-one__products-navigation .menu__btn:hover {
  color: rgb(222, 30, 30);
  background-color: #2bb069;
  opacity: 0.9;
}
.main .section-one__forms {
  display: flex;
  flex-direction: column;
  /*border: 6px solid #730d0d;*/
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    margin-right: 20px;
  }
}
.main .section-one__forms .form__title {
  margin-bottom: 24px;
  font-size: clamp(24px, 2vw, 32px);
  color: #FFFFFF;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  /*border: 3px solid #36cc22;*/
}
@media screen and (max-width: 992px) {
  .main .section-one__forms .form__title {
    margin-bottom: 1px;
    font-size: 24px;
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms .form__title {
    font-size: 24px;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 12px;
  }
}
.main .section-one__forms .form__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 48px;
  gap: 12px;
  margin-bottom: 12px;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms .form__item {
    margin-bottom: 12px;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms .form__item {
    flex-direction: column;
    justify-content: center;
  }
}
.main .section-one__forms .form__item_int {
  width: 49%;
  height: 48px;
  color: #000;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-left: 12px;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms .form__item_int {
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms .form__item_int {
    font-size: 14px;
    width: 88%;
    padding-left: 12px;
    margin-left: 20px;
    padding-bottom: 10px;
  }
}
.main .section-one__forms .form__textarea {
  position: relative;
  resize: none;
  width: 100%;
  height: 108px;
  box-sizing: border-box;
  padding: 18px 34px;
  color: #000000;
  font-family: Roboto;
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  /*border: 2px solid #dc098f;*/
  margin-bottom: 12px;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms .form__textarea {
    width: 70%;
    height: 40%;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 12px 12px 18px 12px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms .form__textarea {
    font-size: 14px;
    width: 92%;
    padding: 18px 12px 18px 12px;
  }
}
.main .section-one__forms .form__author {
  font-family: Roboto;
  /*border: 3px solid #15d215;*/
}
.main .section-one__forms .form__author_btn {
  margin-bottom: 12px;
  width: 200px;
  height: 48px;
  gap: 10px;
  cursor: pointer;
  background-color: #000;
  transition: 1s;
  border: 2px solid #FFFFFF;
  color: #ffffff;
  /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);*/
  font-family: Roboto;
  font-size: clamp(16px, 1vw, 18px);
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.main .section-one__forms .form__author_btn br {
  display: none;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms .form__author_btn {
    width: 27%;
    height: 40%;
    font-size: 16px;
    margin-left: 14px;
    padding-bottom: 10px;
  }
  .main .section-one__forms .form__author_btn br {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms .form__author_btn {
    background-color: transparent;
    width: 50%;
    height: 20%;
    font-size: 16px;
    padding: 14px 25px 14px 25px;
  }
  .main .section-one__forms .form__author_btn br {
    display: none;
  }
}
.main .section-one__forms .form__author_btn:hover {
  background-color: #15d215;
  opacity: 0.9;
}
.main .section-two {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  height: 70vh;
  /*border: 6px solid #e60c51;*/
  padding: 178px 53px 3px 53px;
}
@media screen and (max-width: 992px) {
  .main .section-two {
    padding-top: 50px;
    width: 27%;
  }
}
@media screen and (max-width: 540px) {
  .main .section-two {
    height: 65%;
    width: 100%;
    padding: 0 30px;
  }
}
.main .section-two__foto-man {
  background-image: url(../images/man1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /*border: 6px solid #15d215;*/
}
@media screen and (max-width: 952px) {
  .main .section-two__foto-man {
    position: relative;
    height: 80%;
    padding: 1px 7px 2px 7px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-two__foto-man {
    position: relative;
    height: 100%;
    width: 90%;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */