@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/Arial-BoldMT.eot");
  src: url("../fonts/Arial-BoldMT.eot") format("embedded-opentype"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*.container {
  max-width: 1920px;
  max-height: 1545px;

  /*margin: 0 auto;*

}*/
body {
  font-family: Roboto Light;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("../images/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*top: -12px;
  left: -88px;  */
  border: 6px solid #40fb32;
}
@media screen and (max-width: 992px) {
  .main {
    max-height: 724px;
    max-width: 992px;
    background-size: 120%;
  }
}
@media screen and (max-width: 540px) {
  .main {
    max-width: 540px;
    max-height: 1545px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-size: cover;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.main .section-one {
  position: relative;
  /*border: 6px solid #e64413;  */
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: flex-start;
  align-content: flex-end; /*поднял низ*/
  height: 100%;
  width: 60%;
  border: 6px solid #4d0ee1;
  padding: 124px 50px 64px 142px;
  gap: 64px;
}
@media screen and (max-width: 992px) {
  .main .section-one {
    /*padding-right: 32px;*/
    width: 70%;
    padding: 0 50px 22px 22px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one {
    width: 100%;
  }
}
.main .section-one__logo {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 64px;
  border: 6px solid #e6e61a;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .main .section-one__logo {
    /*background-image: url("../images/Logo.svg");*/
    margin-left: 32px;
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__logo {
    /*background-image: url("../images/Logo.svg");*/
    margin-left: 32px;
    margin-bottom: 48px;
  }
}
.main .section-one__logo_vid {
  background-image: url("../images/Logo.svg");
  width: 1080px;
  height: 121px;
}
@media screen and (max-width: 992px) {
  .main .section-one__logo_vid {
    max-width: 540px;
    max-height: 60px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__logo_vid {
    max-width: 476px;
    max-height: 52px;
    margin-bottom: 32px;
  }
}
.main .section-one__about {
  /*border: 6px solid #f4d10f;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .main .section-one__about {
    padding: 24px 32px;
    margin-bottom: 1px;
  }
}
.main .section-one__about-title {
  font-size: clamp(24px, 5vw, 32px);
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  /*border: 4px solid #d92929;*/
  color: #ffffff;
  margin-bottom: 26px;
}
@media screen and (max-width: 992px) {
  .main .section-one__about-title {
    margin-bottom: 1px;
    font-size: clamp(24px, 5vw, 32px);
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__about-title {
    text-align: center;
    font-size: clamp(24px, 5vw, 32px);
    margin-bottom: 12px;
    text-align: center;
  }
}
.main .section-one__about-text {
  position: relative;
  /*border: 4px solid #e9139e;*/
  font-size: clamp(14px, 4vw, 20px);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 64px;
  color: #FFFFFF;
  font-family: Roboto;
}
@media screen and (max-width: 992px) {
  .main .section-one__about-text {
    margin-bottom: 1px;
    font-size: clamp(14px, 4vw, 20px);
    font-family: Roboto;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.1em;
    /*text-align: justified;*/
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__about-text {
    font-size: clamp(14px, 4vw, 20px);
    text-align: justify;
    margin-bottom: 32px;
  }
}
.main .section-one__products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  /*border: 6px solid #19b097;*/
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 24px;
  color: #FFFFFF;
  box-sizing: border-box;
  /*width: 1000px;    */
}
@media screen and (max-width: 992px) {
  .main .section-one__products {
    padding: 0 32px 0 32px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products {
    padding: 1px 64px 1px 64px;
    align-items: center;
  }
}
.main .section-one__products-title {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-bottom: 26px;
  /*border: 3px solid #15d215;*/
}
@media screen and (max-width: 992px) {
  .main .section-one__products-title {
    margin-bottom: 1px;
    font-size: clamp(24px, 4vw, 32px);
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products-title {
    margin-bottom: 12px;
    font-size: clamp(24px, 4vw, 32px);
  }
}
.main .section-one__products-navigation {
  display: flex;
  text-decoration: none;
  gap: 35px;
  /*border: 3px solid #225f1e;*/
  /*background: none;
  background-color: transparent;*/
  margin-bottom: 64px;
}
@media screen and (max-width: 992px) {
  .main .section-one__products-navigation {
    max-width: 400px;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products-navigation {
    max-width: 360px;
    margin-bottom: 32px;
  }
}
.main .section-one__products-navigation .menu {
  /*border: 3px solid #225f1e;*/
  font-family: ROBOTO;
  align-content: center;
  /*background: none;
  background-color: transparent;*/
}
.main .section-one__products-navigation .menu__btn {
  /*width: 65px;*/
  /*height: 21px;*/
  color: #ffffff;
  border: 2px solid #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: transparent;
  padding: 13px 24px 13px 24px;
  /*background: none;*/
}
@media screen and (max-width: 992px) {
  .main .section-one__products-navigation .menu__btn {
    margin-bottom: 1px;
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__products-navigation .menu__btn {
    font-size: 16px;
  }
}
.main .section-one__products-navigation .menu__btn:hover {
  color: rgb(222, 30, 30);
  background-color: #2bb069;
}
.main .section-one__forms {
  display: flex;
  flex-direction: column;
  /*border: 6px solid #730d0d;*/
  box-sizing: border-box;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
.main .section-one__forms-title {
  margin-bottom: 24px;
  font-size: clamp(24px, 4vw, 32px);
  color: #FFFFFF;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  /*border: 3px solid #36cc22;  */
}
@media screen and (max-width: 992px) {
  .main .section-one__forms-title {
    margin-bottom: 1px;
    font-size: clamp(24px, 4vw, 32px);
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms-title {
    font-size: clamp(24px, 4vw, 32px);
    text-align: center;
  }
}
.main .section-one__forms-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-bottom: 12px;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms-item {
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms-item {
    flex-direction: column;
    justify-content: center;
  }
}
.main .section-one__forms-item_int {
  padding-top: 12px;
  padding-left: 14px;
  width: 49%;
  color: #000;
  font-size: clamp(14px, 3vw, 18px);
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms-item_int {
    font-size: clamp(14px, 3vw, 18px);
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms-item_int {
    font-size: clamp(14px, 3vw, 18px);
  }
}
.main .section-one__forms-textarea {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 18px 34px;
  color: #000000;
  font-family: Roboto;
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  /*border: 2px solid #dc098f;*/
  margin-bottom: 12px;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms-textarea {
    width: 79%;
    height: 60%;
    font-size: clamp(14px, 3vw, 20px);
    margin-bottom: 1px;
    padding: 1px 3px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms-textarea {
    font-size: clamp(14px, 3vw, 20px);
  }
}
.main .section-one__forms-author {
  font-family: Roboto;
  /*border: 3px solid #15d215;*/
}
.main .section-one__forms-author_btn {
  margin-bottom: 12px;
  width: 200px;
  height: 48px;
  gap: 10px;
  cursor: pointer;
  background-color: #000;
  transition: 1s;
  border: 2px solid #FFFFFF;
  color: #ffffff;
  /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);*/
  font-family: Roboto;
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (max-width: 992px) {
  .main .section-one__forms-author_btn {
    width: 18%;
    height: 60%;
    font-size: clamp(16px, 3vw, 18px);
    margin-left: 14px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-one__forms-author_btn {
    background-color: transparent;
    width: 313px;
    height: 32px;
    margin-bottom: 32px;
    font-size: clamp(16px, 3vw, 18px);
  }
}
.main .section-one__forms-author_btn:hover {
  background-color: #15d215;
}
.main .section-two {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: flex-end;
  width: 30%;
  height: 90vh;
  border: 6px solid #e60c51;
  padding: 178px 53px 3px 53px;
}
@media screen and (max-width: 992px) {
  .main .section-two {
    /*padding-top: 119px;*/
    width: 27%;
    height: 100%;
  }
}
@media screen and (max-width: 540px) {
  .main .section-two {
    width: 100%;
  }
}
.main .section-two__foto-man {
  background-image: url(../images/man1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /*margin-bottom: 0;*/
  width: 100%;
  height: 100%;
  margin: 178px 53px 3px 53px;
  box-sizing: border-box;
  border: 6px solid #15d215;
}
@media screen and (max-width: 952px) {
  .main .section-two__foto-man {
    background-image: url(../images/man2.png);
    padding: 119px 7px 2px 7px;
  }
}
@media screen and (max-width: 540px) {
  .main .section-two__foto-man {
    background-image: url(../images/man2.png);
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 32px 75px 0 75px;
  }
}/*# sourceMappingURL=style.css.map */