
.about {
  display: flex;
  flex-direction: column;
  /*padding: 30px 0 10px 0;*/

  @media screen and (max-width: 1400px) {
    padding: 16px 32px 0 32px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: 0.1em;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    margin-bottom: 64px;
    color: #FFFFFF;

    @media screen and (max-width:952px) {
      margin-bottom: 32px;
    }
  } 
}
