.dropbtn { /*цвет кнопки меню*/
    background-color: rgb(131, 225, 37);
    color: #ce078c;/*цвет теста кнопки*/
    padding: 16px;
    font-size: 16px;
    border-radius: 15%;
    /*border: none;*/
    border: 5px;color: #181515;
    cursor: pointer;
    box-shadow: 5px 5px 0px #ea6868;
    transition: 1s;
}

.dropbtn:hover, .dropbtn:focus {/*цвет кнопки при наведении*/
    background-color: #ea6868
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {/*цвет выпадающего меню*/
    display: none;
    position: absolute;
    background-color: rgb(74, 236, 199);
    border-radius: 5%;
    min-width: 160px;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 2) ;
    z-index: 1;
}

.dropdown-content a {/*цвет текста выпадающего меню*/
    color: rgb(212, 9, 9);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {/*цвет панели вып.м. при навелении*/
    background-color: rgb(96, 167, 215);
}

.show {
    display: block;
}     /* конец меню */

body {
    /*width: 1500px;
    height: 100vh;*/
    background-color: rgb(243, 215, 178);/*фон страниц*/
    width: 25px 0 0 0;
}

.container {
    max-width: 1500px;
    height: 100vh;
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 10px;
    /*background-color: rgb(157, 143, 221);*/ /* цвет портфолио*/
    padding: 0px;
    flex:content;
    align-items: center; 
} 

.header {
    position: relative; /* является родителем для position absolut*/
    display: flex; /* flex делается выше*/
    flex-direction: column; /* выравниваем flex элементы в колонкуБ основная ось -Y*/
    justify-content: center; /* выравнивание по основной оси Y*/
    align-items: center; /* выравнивание по поперечной оси  Х*/
    background-color: rgb(0, 255, 132);
    /*background-image: url("./tytle.jpeg");*/
    background-size: 1000px;
    background-position: 0 0 1;
    width: 100%;
    height: 100vh;
    margin-top: 1;
}

.headrr-title {
    margin:0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0;
    text-align: center;
    color: #000;
}

.headrr-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}

.big {
    text-align: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.big-tekst {
    width: 100%;
    font-size: 30px; 
    color:#0b0b0b;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: 550; 
    
}  

.first {
    background-color: red;
    margin-bottom: 50px;
}

.secon {
    margin: 15px 15px 15px 15px;
    background-color: blue;
}

h1 {
    font-style: italic;
    font-size: clamp(50px, 6,25vw, 100px);
    text-align: center; 
    margin: 10px;
}

h2 {
    font-size: clamp(18px, 6,25vw, 50px);
    text-align: center; 
}

p {
    text-align: justify;
    margin: 10px;
    padding-right: 15px;
    padding-left: 10px;
}

h3 {
    position: absolute;
    font-size: 18px;
    top: 0;
    left: 250px;
    color: #e1091b;
}

h4 {
    font-size: 50px;
    top: 10;
    margin-left: 350px;
}

.pleers {
    position: relative;   
} 

.actions {     /*маникюр*/
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.actionss {      /*кнопки назад вперед педикюр */
    position: absolute;
    top: 70px;
    left: 140px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.slider {
    width: 600px;
    margin: 0 auto;
}

.photos {
    flex: 0,0,33%;
    position: relative;
    /*width: 400px;*/
    max-width: 100% ;
    /*height: 300px;*/
    min-height: 100%;
    margin: 0 auto;
    object-fit:cover;
}

.photosss {  /*отзывы*/
    position: absolute;
    top: 180px;
    left: 50px;
    width: 40px;
    height: 300px;
    margin: 0 auto;
}

.images {
    opacity: 1; 
    width: 1100px;
    height:600px;
    /*position: fixed;*/
    position: absolute;
    top: 1; 
}

/*.image {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    opacity: 0;
}*/

.image { /*расположение картинки */
    width: 500px;
    height: avto;
    object-position: 10px;
    position: absolute;
    top: 140px;
    left: 30px;
    margin-right: 20px;
    opacity: 0;
}

.show {
    opacity: 1;
}

.footer {                  /* футер */
    padding-top: 45px;
    padding-bottom: 10px;
    background: #052b76;/*цвет футера*/
    color: #0f3ad3;
}

.footer-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;

}
.footer-row {
    display: flex;
    flex-direction: row; /*в ряд*/
    justify-content: space-between; /* выравнтвание блоков по оси х*/
}

.footer-copyright {
    max-width: 350px;
    flex-grow: 1;
    margin-left: 20px;
    color: #ffffff;
    padding-left: 25px;
    line-height: 1.3;
}

.footer-copyright-name {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-copyright p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
    
.footer-contacts {
    max-width: 350px;
    flex-grow: 1;
    margin-right: 20px;
    font-size: 16px;
    color: #fff;
}

.footer-icons {
    max-width: 350px;
    flex-grow: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #ffffff;
}

.footer-icons p {
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.3;
    color: #ffffff;
}

.footer-icons-row {
    display: flex;
    align-items: center;   
}

.footer-icons-row > * + * {  /* для всех кроме первой */
    margin-left: 30px;
}

.footer-contacts p {
    line-height: 1.3;
    margin-left: 25px;
    
    font-size: 16px;
    color: #f8f4f4;
}

.footer-button {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 10px;
    border: 3px solid #ffffff;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width:1200px) {
    .container{
        max-width: 970;
    }
    
}

@media (max-width:992px) {
    .container{
        max-width: 750;
    }
    
} 

@media (max-width:767px) {
    .container{
        max-width: none;
    }
    
}
